{% extends "base2.html" %}
{% block content %}
<script>
    function getdatanow(provid) {
        url = "/localidad/" + provid;

        $.getJSON(url).done(function(data){
            dl = data.recs.length;
            $("#loc").empty();
            for (var i = 0; i < dl; i++) {
                $('#loc').append($('<option>').val(data.recs[i].id).text(data.recs[i].nombre)); 
            }
        });
    }

    $(document).ready(function() {
      //alert("document ready occurred!");
      provid = $('select[name="prov"] option').filter(':selected').attr("id");
      //alert(prov);
      if (prov != 0) {
        getdatanow(provid)
      }
    });
</script>

<div class="outer">

<form class="inner">
    <h1>Buscar Escuelas</h1>
    <div class="form-group">
        <label for="prov" class="col-sm-2">Provincia</label>

        <select name="prov" id="prov" class="form-control">
            <option id="0">Seleccionar</option>ºº
            {% for p in data['recs']['provs'] %}
                <option id="{{p.id}}">{{p.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="loc" class="col-sm-2">Localidad</label>
        <select name="loc" id="loc" class="form-control">

        </select>
    </div>

    <div class="form-group">
        <label for="sec" class="col-sm-2">Sector</label>
        <select name="sec" id="sec" class="form-control">
            <option id="0">Todos</option>
            {% for p in data['recs']['secs'] %}
                <option id="{{p.id}}">{{p.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="amb" class="col-sm-2">Ámbito</label>
        <select name="amb" id="amb" class="form-control">
            <option id="0">Todos</option>
            {% for p in data['recs']['ambs'] %}
                <option id="{{p.id}}">{{p.nombre}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="button" id="buscar" class="btn btn-primary">Buscar</button>
</form>
</div>

<script>
    var provid = 0;
    var locid = 0;
    var ambid = 0;
    var secid = 0;
    var provsel = "";
    var locsel = "";
    var secsel = "";
    var ambsel = "";
    var url = "";
    
    function prn(data) {
        console.log(data);
    }

    function getdata() {
        provsel = $(this).children("option:selected").val();
        provid = $(this).children("option:selected").attr("id");

        url = "/localidad/" + provid;

        $.getJSON(url).done(function(data){
            dl = data.recs.length;
            $("#loc").empty();
            for (var i = 0; i < dl; i++) {
                $('#loc').append($('<option>').val(data.recs[i].id).text(data.recs[i].nombre)); 
            }
        });
    }

    $("#prov").change(getdata);

    $("#loc").change(function(){
        locsel = $(this).children("option:selected").val();
        locid = $(this).children("option:selected").attr("value");
        console.log(locsel, locid)
    })

    $("#sec").change(function(){
        secsel = $(this).children("option:selected").val();
        secid = $(this).children("option:selected").attr("id");
    });

    $("#amb").change(function(){
        ambsel = $(this).children("option:selected").val();
        ambid = $(this).children("option:selected").attr("id");
    });

    $("#buscar").click(function() {
        if (provid == 0) {
            alert("La provincia es obligatoria")
            return
        }
        var url = '/escuelas/' + provid + "/" + locid + "/" + secid + "/" + ambid
        location.href=url;
    });

    $(window).load(function() {
        alert("load");
    });



</script>
{% endblock%}
