{% extends "base.html" %}
{% block content %}
<div class="inner">
    <h3 class="text-center">Menú de opciones</h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="/provincias">Provincias</a></li>
        <li class="list-group-item"><a href="/sectores">Sectores</a></li>
        <li class="list-group-item"><a href="/ambitos">Ambitos</a></li>
        <li class="list-group-item"><a href="/localidades">Localidades</a></li>
        <li class="list-group-item"><a href="/escuelas">Escuelas</a></li>
    </ul>
</div>
{% endblock %}