<html>
    <head>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>No encontrado</title>
        <style>
            .outer {
                width: 100%;
                height: 100vh;
                display: flex;
            }

            .inner {
                margin: auto;
            }
        </style>        
    </head>
    <body>
        <div class="container outer bg-info">
            <div class="inner">
                <h1 class="Display-3 text-danger">Recurso no encontrado</h1>
            </div>
        </div>
    </body>
</html>

