{% extends "base2.html" %}
{% block content %}
<div class="outer">
<form class="inner" method="post" action="/registro">
    <h1>{{data.tituloform}}</h1>
    <div class="form-group">
        <label for="email">Email</label>
        {% if data.email is none %}
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese email" autofocus>
        {% else %}
            <input value={{data.email}} type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese email">
        {% endif %}
        <small id="emailHelp" class="form-text text-muted">Nunca será compartido.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        {% if data.email is none %}
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        {% else %}
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" autofocus>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for m in messages %}
    <label id="msg" class="text-danger">{{ m }}</label><br>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <button type="submit" class="btn btn-primary">Registrarse</button>


</form>
</div>
{% endblock %}
